body {
  font-family: "Maitree", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body h1 {
  font-family: "Maitree", serif;
  font-size: 68px;
  line-height: 1.2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  border-bottom: 1px solid black;
}
header .logo img {
  width: 80px;
  padding: 0;
}
header nav .nav-links {
  list-style: none;
  display: flex;
  gap: 70px;
}
header nav .nav-links li {
  position: relative;
}
header nav .nav-links li a {
  text-decoration: none;
  color: black;
}
header nav .nav-links li a:hover {
  text-decoration: underline;
}
header nav .nav-links li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  padding-top: 16px;
  margin: 0;
  min-width: 170px;
  z-index: 1000;
  border-radius: 8px;
}
header nav .nav-links li .dropdown li {
  padding: 4px;
}
header nav .nav-links li .dropdown li a {
  padding: 16px 4px;
  display: block;
  color: black;
  text-decoration: none;
}
header nav .nav-links li .dropdown li a:hover {
  text-decoration: underline;
}
header nav .nav-links li:hover .dropdown {
  display: block;
}
header nav .burger {
  display: none;
  cursor: pointer;
}
header nav .burger .line {
  width: 24px;
  height: 4px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .hero h1 {
    font-size: 49px;
  }
  .products .product img {
    max-width: 344px;
  }
}
@media (max-width: 810px) {
  .logo a img {
    width: 50px;
  }
  nav .burger {
    display: block;
    flex-direction: column;
    cursor: pointer;
  }
  nav .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 24px;
    right: 0px;
    width: 170px;
    border-radius: 0px 0px 0px 8px;
    z-index: 1000;
    padding: 14px;
  }
  nav .nav-links.active {
    display: flex;
  }
  nav .nav-links .nav-links.active {
    display: flex;
  }
  nav .burger {
    display: flex;
  }
  nav .burger.active {
    display: flex;
  }
  nav .burger li {
    margin: 10px 0;
  }
}
@media (max-width: 390px) {
  .products {
    flex-direction: column;
    align-items: center;
  }
  .products .product {
    max-width: 100%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: #fff;
  border-top: 1px solid black;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;
}
footer p {
  margin: 0;
  font-size: 14px;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 52px;
}
footer .social-icons a img {
  width: 40px;
}
@media (max-width: 1024px) {
  footer footer button {
    margin: 0 auto;
  }
}
@media (max-width: 810px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer p {
    margin-bottom: 10px;
  }
  footer .social-icons {
    justify-content: center;
  }
}

@media (max-width: 390px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .social-icons {
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */